version: '3'
services:
  e5bot:
    image: rainerosion/e5subbot-sqlite:latest
    volumes:
      - /opt/e5sub/config.yml:/root/config.yml
      - /opt/e5sub/e5sub.db:/root/e5sub.db
    restart: always
