-----BEGIN PRIVATE KEY-----

MIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQgyXnAuOl+nN17gqlH

zaCp6KwpYyIs7J66QHuqPuXKk9ShRANCAATVdYXz3Zs04MMk7oLyXeadJ2yFJgli

V13qb5IFZj6gXjDcT0boiG7OxCbgREPzqIVyhnyw53itc7TEhPtZtONU

-----END PRIVATE KEY-----

-----BEGIN CERTIFICATE-----

MIIDIDCCAsagAwIBAgIUTdEkKgbVZl+Cu9cG9WY+33tgRqEwCgYIKoZIzj0EAwIw

gY8xCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpDYWxpZm9ybmlhMRYwFAYDVQQHEw1T

YW4gRnJhbmNpc2NvMRkwFwYDVQQKExBDbG91ZEZsYXJlLCBJbmMuMTgwNgYDVQQL

Ey9DbG91ZEZsYXJlIE9yaWdpbiBTU0wgRUNDIENlcnRpZmljYXRlIEF1dGhvcml0

eTAeFw0yMzAyMTcxMjMwMDBaFw0zODAyMTMxMjMwMDBaMGIxGTAXBgNVBAoTEENs

b3VkRmxhcmUsIEluYy4xHTAbBgNVBAsTFENsb3VkRmxhcmUgT3JpZ2luIENBMSYw

JAYDVQQDEx1DbG91ZEZsYXJlIE9yaWdpbiBDZXJ0aWZpY2F0ZTBZMBMGByqGSM49

AgEGCCqGSM49AwEHA0IABNV1hfPdmzTgwyTugvJd5p0nbIUmCWJXXepvkgVmPqBe

MNxPRuiIbs7EJuBEQ/OohXKGfLDneK1ztMSE+1m041SjggEqMIIBJjAOBgNVHQ8B

Af8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwIGCCsGAQUFBwMBMAwGA1UdEwEB

/wQCMAAwHQYDVR0OBBYEFDTBKeG1KUSOuhlYnDJ+SEmPoRiwMB8GA1UdIwQYMBaA

FIUwXTsqcNTt1ZJnB/3rObQaDjinMEQGCCsGAQUFBwEBBDgwNjA0BggrBgEFBQcw

AYYoaHR0cDovL29jc3AuY2xvdWRmbGFyZS5jb20vb3JpZ2luX2VjY19jYTAjBgNV

HREEHDAaggwqLjg3ODA4OC54eXqCCjg3ODA4OC54eXowPAYDVR0fBDUwMzAxoC+g

LYYraHR0cDovL2NybC5jbG91ZGZsYXJlLmNvbS9vcmlnaW5fZWNjX2NhLmNybDAK

BggqhkjOPQQDAgNIADBFAiB6uR5SOwlo1lKgFblUkP67qi2MbnM8JoZJrFZRAn9f

0gIhAK97/zlDYRavx9cT/kI704tufnIuYCfwAidyiWlTu2D2

-----END CERTIFICATE-----

-----BEGIN ARGO TUNNEL TOKEN-----

eyJ6b25lSUQiOiI4YWE2MDgxMDgyNWY5ZjExOGZmMTcxYzQyYzBiMmQ4MSIsImFj

Y291bnRJRCI6IjNmNTQwZjQ5YzE0MTgzYWZlZDU1NzgyNTIwZDkwM2UyIiwic2Vy

dmljZUtleSI6InYxLjAtYjdmODJkNDI2NGMzN2U2ZjliYjNjODBjLTg5MDM4MDdl

OTFlZWIyMGQwYWIwMmY2MmY1NjQyMjBmZjEzMWNlZjU2ZGJmN2VmZDNhYTA0YzJj

YmNhMmZhZTYxMmUxODgxNjczMmNkMmE2ODVhOGYwYjFlNzRhMjg3MTAxY2ExNDU0

ZDI3ZTNmMjc4YWY1YzE4Yzk4YWM4MzU5MGQ4YjdjOTAzMmQwYWM1YTVjMzBlNGVm

MmY5OTc0OTMiLCJhcGlUb2tlbiI6IjhyVUlwSDExY3pweGpMUi10UzdwQ0JpZ3NI

Yk5DWV9xZ2c4bU5lN0MifQ==

-----END ARGO TUNNEL TOKEN-----
